@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:ital,wght@0,100;1,100&family=Rubik+Dirt&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

/*header*/

header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height:80px;
    background:white;  
    box-shadow:0 4px 25px -20px black;   
    z-index: 2;
}
.todo_header{
    height: 100%;
    display: flex;
    padding:10px;
    align-items: center;    
    justify-content: space-between;
    
}
.todo_header_check{
    height: 100%;
    display: flex;
    padding:10px;
    align-items: center;    
    
}

.logo {
    font-family: 'Rubik Dirt', cursive;
    padding-left: 20px;
    
}
.logo h1{
    color:deepskyblue;
    
}
.logo a:hover{
    text-decoration:none;

}

.barra input{
    width:500px;
    height:35px;
    padding: 0 10px;
    outline: none;
    border-radius: 30px;
    border:1px solid black;
}
.barra_check input{
    width:500px;
    height:35px;
    padding: 0 10px;
    outline: none;
    border-radius: 30px;
    border:1px solid black;
    margin-left:80px;
}
.carrito{
    margin-right:30px;
}
.carrito:hover{
    color:rgba(66, 65, 65, 0.87);
    cursor: pointer;
}
.imagen_carrito{
    border-top-left-radius: 50% 50%;
    order-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%; 
    width:60px ;
}
/* Body  */
.body{
    background-color:#eeeeee;
}
.cont_todoindex{
    max-width: 1500px;
    width: 100%;
    margin:  auto;
    display: flex;
    justify-content: center;
    margin-top: 140px;
    flex-direction: column;
}

.cont_arriba{
    max-width: 1500px;
    text-decoration: none;
    border-radius: 6px;
    padding:50px;
    margin-bottom: 10px;
}
.cont_pGrande{
    background-color: white;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 20px;
    margin-top: 20px;
}
.titulo_pGrande{
    margin-bottom: 50px;
    max-width: 1500px;

}
.cont_arriba h2,.cont_abajo h2{
    font-size: 30px;
    font-weight: 500;
}

.cont_abajo{
    max-width: 1500px;
    text-decoration: none;
    border-radius: 6px;
    padding:50px;
    
}
.cont_pChica{
    background-color: white;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 20px;
    margin-top: 20px;
}

/* CARTAS  */

.producto{
    width:200px;
    margin:30px;
    margin-right: 40px;
    width: 250px;
    background-color: #f7f7f7;
}
.producto img{
    width:100%;
    width:250px;
    height:150px;
}
.producto li{
    list-style: none;
    border-radius: 5px;
    border-radius: 6px;
    cursor:default;
    background-color: lightgrey;
    width:100px;
    display:flex;
    justify-content: center;
}
.producto button{
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 10px;
    padding: 8px 40px;
    font-size: 15px;
    font-weight:600;
    color:white;
    background: rgb(0, 132, 255);
    border:none;
    cursor:pointer;
    border-radius:5px;
}
.producto button:hover{
    opacity:0.9;

}
.producto h3{
    margin-bottom:6px;
    font-weight: 500;
    font-size:22px;
    text-decoration: none;
}
.producto h4{
    width:50px;
    margin:auto;
}


/* CKECKOUT PAGINA */

.body_checkout{
    background-color: #eeeeee;
}

.cont_checkout{
    width:1000px;
    margin:auto;
    margin-top: 100px;
    
}
table tbody tr:nth-child(odd) {
	background: #ffffff;
}
table tbody tr:nth-child(even) {
	background: #cccccb;
}
table{
    width:100%;
    text-align: left;
    border-collapse: collapse;
}
thead{
    background-color: #4a47f7;
    height: 50px;
    border-bottom:solid 3px black;
}

tbody{
    background-color: white;
    
}
tr{
    height:50px;
    border-bottom:solid 2px lightgrey;
}
.button_carrito{
    margin-left: 13px;
    padding: 1px 12px;
    background: rgb(169, 212, 252);

}
.button_carrito:hover{
    cursor:pointer;
    opacity: 0.9;

}
.cant_check p{
    margin-left:25px;
}
.titulo_carrito{
    margin-bottom: 30px;
}
.titulo_carrito{
    font-size:32px ;
    font-weight: 600px;
}
.precio_tot{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500px;
}
.texto_checkout{
    margin-top: 20px;
    margin-bottom: 30px;
}
.texto_checkout h2{
    font-size: 22px;
    font-weight: 500px;
}
.texto_checkout h2 a{
    color:dodgerblue;
}
.button_vaciar button{
    margin-top: 10px;
    padding: 8px 40px;
    font-size: 15px;
    font-weight:600;
    color:white;
    background: rgb(0, 132, 255);
    border:none;
    cursor:pointer;
    border-radius:5px;
}
.producto button:hover{
    opacity:0.9;

}




@media screen and (max-width: 1500px) {
    .cont_pGrande,.cont_pChica {
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (max-width: 1150px) {
    .cont_pGrande,.cont_pChica {
        grid-template-columns: repeat(2, 1fr);
    }
    .barra input,.barra_check input{
        width:400px;
    }
    
}
@media screen and (max-width: 900px) {
    .barra input{
        width:300px;
    }
    
}

@media screen and (max-width: 790px) {
    .cont_pGrande,.cont_pChica {
        grid-template-columns: 1fr;
        
    }
    .producto{
        margin:auto;
    }
    .barra input,.barra_check input{
        width:200px;
    }
    
}
